{% extends "admin/base.html" %}

{% block container %}
  <h1>Ganti Password</h1><br/>
  <form method="post" x-data="{ valid: false, first: true }">
    <div class="mb-3 form-group has-danger">
      <label for="password" class="form-label">Password baru:</label>
      <input class="form-control" id="password" name="password" type="password" x-ref="password" required>
    </div>
    <div class="mb-3">
      <label for="password2" class="form-label">Konfirmasi password baru:</label>
      <input
          class="form-control"
          x-bind:class="! (valid | first) ? 'is-invalid': ''"
          x-on:keyup="valid=($refs.password.value == $refs.password2.value); first=false"
          x-ref="password2"
          id="password2" name="password2" type="password" required>
      <div class="invalid-feedback">Konfirmasi password tidak cocok dengan kolom password baru!</div>
    </div>
    <button type="submit" class="btn btn-primary" x-bind:class="! (valid | first) ? 'disabled': ''">Ganti</button>
  </form>
{% endblock %}
