{% extends "admin/base.html" %}

{% block container %}
  <h1>{{ title }}</h1><br/>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">ID Tiket</th>
          <th scope="col">Dibuat</th>
          <th scope="col">Pengirim</th>
          <th scope="col">Subjek</th>
          <th scope="col">Aksi</th>
        </tr>
      </thead>
      <tbody>
        {%- for tiket in tikets %}
        <tr>
          <th class="font-monospace" scope="row">{{ tiket.public_id }}</th>
          <td>{{ tiket.tgl_dibuat }}</td>
          <td>{{ tiket.nama_pengirim }}</td>
          <td>[{{ tiket.jenis | upper }}] {{ tiket.subjek }}</td>
          <td>
            <a role="button" class="btn btn-primary btn-sm" href="{{ url_for('admin.tiket_detail', tiket_id=tiket.id) }}">Lihat</button>
          </td>
        </tr>
        {% endfor -%}
      </tbody>
    </table>
  </div>
{% endblock %}
