<nav
  class="navbar navbar-expand-lg bg-light border-bottom border-bottom-1"
  data-bs-theme="light"
  x-data
>
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">
      <img src="{{ url_for('static', filename='logo.svg') }}" height="25" />
      KamulyoPelayanan
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor02"
      aria-controls="navbarColor02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        {%- macro nav_item(title, ref, ref_is_route=True) -%}
          {%- set active = (request.endpoint == ref) -%}
          <li class="nav-item">
            <a
              class="nav-link {% if active %}active{% endif %}"
              href="{{ url_for(ref) if ref_is_route else ref }}"
            >
              {{ title }}
              {%- if active -%}
                <span class="visually-hidden">(current)</span>
              {% endif %}
            </a>
          </li>
        {%- endmacro -%}

        {{ nav_item('Buat Tiket', 'main.buat_tiket_form') }}
        {{ nav_item('Papan Aduan Publik', 'main.papan_aduan_publik') }}
        {{ nav_item('Soal Sering Ditanya', 'main.soal_sering_ditanya') }}
        {{ nav_item('Kembali ke Kamulyo', 'https://kamulyo.id', ref_is_route=False) }}
      </ul>
      <form class="d-flex" action="{{ url_for('main.cari_tiket') }}">
        <input
          class="form-control me-2"
          type="search"
          x-ref="inpIdTiket"
          name="idTiket"
          placeholder="ID Tiket"
        />
        <input type="hidden" name="next" value="{{ request.path }}" />
        <button class="btn btn-secondary text-nowrap my-2 my-sm-0" type="submit">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="1em"
            viewBox="0 0 512 512"
          >
            <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
            />
          </svg>
          Cek Status
        </button>
      </form>
    </div>
  </div>
</nav>
